body {
	font-family: Garamond, Georgia, serif;
	width: 100%;
	margin: 0;
	padding: 0;
	--tone: rgb(43, 87, 151);
	--dark: rgb(5, 5, 5);
	--light: rgb(209, 209, 209);
	--textsize: 1.3em;

}

h1 {
	text-align: center;
	margin: 0 auto;
	padding: 20 10vw;
	font-size: 4em;
	color: white;
	background-color: var(--tone);
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 3em
	}
	
}
h2 {
	text-align: center;
	margin: 30 auto;
	font-size: 3em;
	color: var(--tone);
	background-color: white;
}
p {
	width: 85%;
	max-width: 1400px;
	color: var(--dark);
	background-color: white;
	font-size: var(--textsize);
	text-align: center;
	margin: 20 auto;
	overflow: hidden;
}
a {
	text-decoration: none;
}
img {
	display: inline;
	height: auto;
	width: auto;
}

.box {
	width: 300px;
	margin: 40vh 40px 0;
	padding: 20px;
	text-align: left;
	font-size: var(--textsize);
	color: white;
	background-color: var(--tone);
	opacity: 0.75;
	float: left;
}

.comment-box {
	width: 400px;
	height: inherit;
	padding: 20px;
	text-align: justify;
	font-size: var(--textsize);
	color: white;
	background-color: var(--tone);
	opacity: 0.75;
	float: left;
	display: table;
}
.comment {
	display: table-cell;
	vertical-align: middle;
}

.caption {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	max-width: 400;
	padding: 7px;
	background-color: var(--dark);
	color: white;
	font-size: 1em;
	opacity: 0.6;
}

.timeline {
	width: auto;
	padding: 20 20 20 80;
	color: var(--dark);
	background-color: white;
	font-size: var(--textsize);
	position: relative;
}

.timelinelink {
	width: auto;
	padding: 20 20 20 80;
	color: var(--dark);
	background-color: white;
	font-size: var(--textsize);
	position: relative;
	-webkit-transition: background-color 0.5s ease-out;
 	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.timelinelink:hover {
  	background-color: rgb(235, 235, 235);
 	cursor: pointer;
}

.timelinenull {
	width: auto;
	height: 50px;
	padding: 20 20 20 80;
	color: var(--dark);
	background-color: white;
	font-size: var(--textsize);
	position: relative;
}
.liner {
	left: 30px;
	top: 0;
	height: 100%;
	width: 16px;
	background-color: var(--tone);
	vertical-align: middle;
	float: left;
	display: inline-block;
	position: absolute;
}
.linerstart {
	left: 30px;
	bottom: 0;
	height: 50%;
	width: 16px;
	background-color: var(--tone);
	vertical-align: middle;
	float: left;
	display: inline-block;
	position: absolute;
}
.linerend {
	left: 30px;
	top: 0;
	height: 50%;
	width: 16px;
	background-color: var(--tone);
	vertical-align: middle;
	float: left;
	display: inline-block;
	position: absolute;
}
.dot {
	left:18px;
	top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: var(--tone);
    display: inline-block;
    position: absolute;
}

.stationary {
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special {
	width: 100%;
	height: 24vw;
	background-image: url("SEC.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

/* Image data and other stuff that's not important */

#bigboy {background-image: url("JOHMO.jpg");}
#uniform {background-image: url("army.jpg");}
#battle {background-image: url("hamel.jpg")}
#map {background-image: url("map.jpg")}
#sec {background-image: url("SEC.jpg")}
